<!-- build:js scripts/app.html.js} -->
<!-- jQuery -->
  <script th:src="@{/resources/admin/libs/jquery/jquery/dist/jquery.js}"></script>
<!-- Bootstrap -->
  <script th:src="@{/resources/admin/libs/jquery/tether/dist/js/tether.min.js}"></script>
  <script th:src="@{/resources/admin/libs/jquery/bootstrap/dist/js/bootstrap.js}"></script>
<!-- core -->
  <script th:src="@{/resources/admin/libs/jquery/underscore/underscore-min.js}"></script>
  <script th:src="@{/resources/admin/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js}"></script>
  <script th:src="@{/resources/admin/libs/jquery/PACE/pace.min.js}"></script>

  <script th:src="@{/resources/admin/scripts/config.lazyload.js}"></script>

  <script th:src="@{/resources/admin/scripts/palette.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-load.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-jp.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-include.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-device.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-form.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-nav.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-screenfull.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-scroll-to.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-toggle-class.js}"></script>

  <script th:src="@{/resources/admin/scripts/app.js}"></script>

  <!-- ajax -->
  <script th:src="@{/resources/admin/libs/jquery/jquery-pjax/jquery.pjax.js}"></script>
  <script th:src="@{/resources/admin/scripts/ajax.js}"></script>
<!-- endbuild -->